
#saliency-maps {
	/*background-color: blue;
    width: 800px;
    height: 300px;*/
    margin: 0px;
}

#explanations-rewards {
    margin: 0px;
}


.question-selector {
	border-style: none;
	background: #e0e0e0;
	text-indent: 5px;
	padding: 10px 16px;
}
/*
#explanation-control {
    width: 400px;
    height: 20px;
    margin: auto;
}
*/
/*
#explanation-control-info {
    height: 20px;
    margin: auto;
}
*/