
#saliency-maps {
	/*background-color: blue;
    width: 800px;
    height: 300px;*/
    margin: 0px;
}

#explanations-rewards {
    margin: 0px;
}

/*
#explanation-control {
    width: 400px;
    height: 20px;
    margin: auto;
}
*/
/*
#explanation-control-info {
    height: 20px;
    margin: auto;
}
*/