
#scaii-timeline {
    width: 100%;
    height: 20px;
    margin: auto;
}

#scaii-game-controls {
    width: 100%;
    height: 20px;
    margin: auto;
}

.minor-label-text {
	font-size: 14px;
	text-align: right;
	padding: 4px 6px;
}

.playback-button {
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.control-panel {
    margin: 0px;
	background-color: lightgrey;
}
#playback {
    width: 100%;
    height: 40px;
    margin: auto;
}
#game-progress {
  width: 100%;
  height: 15px;
  background-color: white;
  color: darkgrey;
  margin-top: 4px;
  margin-bottom: 4px;
  /*margin-left:70px;
  margin-right: 70px;*/
  border: 1px solid #0063a6;
}
#speed-slider {
  -webkit-appearance: slider-vertical;
  height: 100%;
}

.left-column-label {
    width: 76px;
    height: 30px;
    margin: 0px;
}

.free-width-label {
    height: 30px;
    margin: 0px;
}
#progress-panel {
	width: 100%;
}
progress::-webkit-progress-value { background: darkgrey; }
progress::-moz-progress-bar { background: darkgrey; }
